<!--Carousel Wrapper-->
<div id="carousel-example-1" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-1" data-slide-to="1"></li>
        <li data-target="#carousel-example-1" data-slide-to="2"></li>
        <li data-target="#carousel-example-1" data-slide-to="3"></li>
        <li data-target="#carousel-example-1" data-slide-to="4"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">
            <%= image_tag @image_first.asset.url, class:"img-fluid" %>
            <!--Caption-->
                
          <div class="carousel-caption animated fadeInRight hidden-md-down">
                <ul>
                    <li>
                        <h2 class="h2-responsive dinpro-medium"><%= link_to @post_first_category_first.title, @post_first_category_first, class:"h2-news" %></h2>
                    </li>
                    <li>
                        <p class="dinpro-regular dpt"><%= truncate(@post_first_category_first.description, length: 100) %></p>
                    </li>
                    <div class="read-more">
                    <%= link_to t('learn_button'), @post_first_category_first, class: 'btn btn-red-more-outline-slider waves-effect dinpro-regular' %>
                </div>
                </ul>
          </div>
                    
         
                <!--Caption-->
        </div>
        <!--/First slide-->

        <!--Second slide-->
        <div class="carousel-item">
            <%= image_tag @image_second.asset.url, class:"img-fluid" %>
            <!--Caption-->
            <div class="carousel-caption animated fadeInRight hidden-md-down">
                <ul>
                    <li>
                        <h2 class="h2-responsive dinpro-medium"><%= link_to @post_second_category_first.title, @post_second_category_first, class:"h2-news" %></h2>
                    </li>
                    <li>
                        <p class="dinpro-regular dpt"><%= truncate(@post_second_category_first.description, length: 100) %></p>
                    </li>
                    <li>
                        <div class="read-more">
                    <%= link_to t('learn_button'), @post_second_category_first, class: 'btn btn-red-more-outline-slider waves-effect dinpro-regular' %>
                </div>
                    </li>
                </ul>
          </div>
                <!--Caption-->
        </div>
        <!--/Second slide-->

        <!--Third slide-->
        <div class="carousel-item">
            <%= image_tag @image_third.asset.url, class:"img-fluid" %>
            <!--Caption-->
               

            <div class="carousel-caption animated fadeInRight hidden-md-down">
                <ul>
                    <li>
                        <h2 class="h2-responsive dinpro-medium"><%= link_to @post_third_category_first.title, @post_third_category_first, class:"h2-news" %></h2>
                    </li>
                    <li>
                        <p class="dinpro-regular dpt"><%= truncate(@post_third_category_first.description, length: 100) %></p>
                    </li>
                    <li>
                        <div class="read-more">
                    <%= link_to t('learn_button'), @post_third_category_first, class: 'btn btn-red-more-outline-slider waves-effect dinpro-regular' %>
                </div>
                    </li>
                </ul>
          </div>
                <!--Caption-->
        </div>
        <!--/Third slide-->

        <!--Fourth slide-->
        <div class="carousel-item">
            <%= image_tag @image_fourth.asset.url, class:"img-fluid" %>
            <!--Caption-->
            <div class="carousel-caption animated fadeInRight hidden-md-down">
                <ul>
                    <li>
                        <h2 class="h2-responsive dinpro-medium"><%= link_to @post_fourth_category_first.title, @post_fourth_category_first, class:"h2-news" %></h2>
                    </li>
                    <li>
                        <p class="dinpro-regular dpt"><%= truncate(@post_fourth_category_first.description, length: 100) %></p>
                    </li>
                    <li>
                        <div class="read-more">
                    <%= link_to t('learn_button'), @post_fourth_category_first, class: 'btn btn-red-more-outline-slider waves-effect dinpro-regular' %>
                </div>
                    </li>
                </ul>
          </div>
                <!--Caption-->
        </div>
        <!--/Fourth slide-->

        <!--Fiveth slide-->
        <div class="carousel-item">
            <%= image_tag @image_fifth.asset.url, class:"img-fluid" %>
            <!--Caption-->
            <div class="carousel-caption animated fadeInRight hidden-md-down">
                <ul>
                    <li>
                        <h2 class="h2-responsive dinpro-medium"><%= link_to @post_fifth_category_first.title, @post_fifth_category_first, class:"h2-news" %></h2>
                    </li>
                    <li>
                        <p class="dinpro-regular dpt"><%= truncate(@post_fifth_category_first.description, length: 100) %></p>
                    </li>
                    <li>
                        <div class="read-more">
                    <%= link_to t('learn_button'), @post_fifth_category_first, class: 'btn btn-red-more-outline-slider waves-effect dinpro-regular' %>
                </div>
                    </li>
                </ul>
          </div>
                <!--Caption-->
        </div>
        <!--/Fiveth slide-->
    </div>
    <!--/.Slides-->

    <!--Controls-->
    <a class="left carousel-control" href="#carousel-example-1" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-1" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
