<p id="notice"><%= notice %></p>

<h1>Pharmaceuticalgroups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pharmaceuticalgroups.each do |pharmaceuticalgroup| %>
      <tr>
        <td><%= pharmaceuticalgroup.name %></td>
        <td><%= link_to 'Show', pharmaceuticalgroup %></td>
        <td><%= link_to 'Edit', edit_pharmaceuticalgroup_path(pharmaceuticalgroup) %></td>
        <td><%= link_to 'Destroy', pharmaceuticalgroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pharmaceuticalgroup', new_pharmaceuticalgroup_path %>
